:root {
  --bg: #fbf1c7;
  --text: #3c3836;
  --red: #9d0006;
  --green: #6d790e;
  --yellow: #b57614;
  --blue: #075678;
  --aqua: #57ab7e;
  --purple: #b16286;
  --orange: #af3a03;
}

[data-theme="dark"] {
  --bg: #282828;
  --text: #f9f5d7;
  --red: #fb4934;
  --green: #b8bb26;
  --yellow: #fabd2f;
  --blue: #83a598;
  --aqua: #8ec07c;
  --purple: #d3869b;
  --orange: #d65d0e;
}

.red {
  color: var(--red);
}
.green {
  color: var(--green);
}
.yellow {
  color: var(--yellow);
}
.blue {
  color: var(--blue);
}
.aqua {
  color: var(--aqua);
}
.purple {
  color: var(--purple);
}
.orange {
  color: var(--orange);
}