@import url("./colors.css");

.modal {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  border: 3px solid var(--red);
  border-radius: 1rem;
  padding: 20px;
  padding-bottom: 10px;
  background-color: var(--bg);
  width: 60vw;
  min-height: 40vh;
}

.ed-text {
  width: 100%;
}

.modal-content {
  height: 100%;
  background-color: var(--bg);
}
