@import url("./colors.css");

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  z-index: 1;
  border: 3px solid var(--red);
  padding: 20px;
  background-color: var(--bg);

  width: 80vw;
  min-height: 40vh;
}

.ed-text {
  width: 100%;
}

/* Modal Content */
.modal-content {
  height: 100%;
  background-color: var(--bg);
}
