@import url('./theme.css');
@import url('./sidebar.css');
@import url('./terminal.css');
@import url('./modal.css');

@font-face {
  font-family: 'DM Mono';
  src: url('/fonts/DMMono-Light.ttf');
}

* {
  padding: 0;
  margin: 0;
  font-family: 'DM Mono', monospace;
  transition: background 0.2s ease-in-out;
}

html, body {
  margin: 0;
  width: 100%;
  height:100%;
}

h1, h2, h3, h4, h5, h6 {
  display: inline;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}

li {
  margin-left: 2em;
}

.main {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.header {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.container {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

pre {
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.page-title {
  text-align: center;
  margin-bottom: 1em;
}

.alert {
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
  cursor: pointer;
}

.info {
  border: 1px solid var(--purple);
}

.warn {
  border: 1px solid var(--red);
  color: var(--red);
}

input[type=text], input[type=password], input[type=number], input[type=email], textarea, select, option {
  color: var(--text);
  border-bottom: 1px solid var(--green);
  border-style: none none solid none;
  background-color: var(--bg);
  font-size: 1em;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

input[type=submit],
button {
  background-color: transparent;
  border: 1px solid var(--aqua);
  border-radius: 0.2rem;
  padding: 0.5rem;
  margin: 0.5rem;
  color: var(--text);
  cursor: pointer;
}

input[type=submit]:hover,
button:hover,
.alert:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 0 0);
}
