@import url("./colors.css");

body {
  background-color: var(--bg);
  color: var(--text);
}
.primary {
  color: var(--aqua);
}
.secondary {
  color: var(--blue);
}
.tertiary {
  color: var(--purple);
}
.warning {
  color: var(--yellow);
}
.error {
  color: var(--red);
}

a {
  color: var(--blue);
}
a:visited {
  color: var(--purple);
}

.title {
  text-decoration: none;
}
.title:hover {
  text-decoration: underline;
  cursor: pointer;
}

.container {
  border-top: 1px solid var(--yellow);
  border-bottom: 1px solid var(--yellow);
}
